@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-black;
}
/* Blinking animation */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.blinking {
  animation: blink 1s infinite;
}
.blinking-2 {
  animation: blink 2s infinite;
}
/* Marquee.css */
.marquee-container {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  width: 100%;
  background: #f0f0f0; /* Adjust background color as needed */
  height: 50px; /* Adjust height as needed */
  display: flex;
  align-items: center;
}

.marquee {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}
